/* poppins google font add here */

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
</style>

body{
    font-family: 'Poppins', sans-serif;
    background:#1E1E1E;
}
.text-blue-color{
    color: #289BDE;
}
.bg-blue-color{
    background-color: #289BDE;
}
.institute-bg-color{
    background: #F4FAFD;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
}